body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 30px;
}


.nav-bar{
    background-image: linear-gradient(orange, tomato);
    margin-left: 10px;
    margin-right: 10px;
}

section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

li{
    list-style-type: none;
}

.nav-bar a{
    text-decoration: none;
    font-weight: 700;
    color: white;
     /* Nav Bar Complete */
}

.tomato-color{
    color: tomato;
}

.section-one{
    display: flex;
}

.half-width{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.half-width img{
    width: 80%;
    height: 400px;
    object-fit: cover;
}

.half-width a{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}